<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebeu.group.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.hebeu.group.pojo.Admin">
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_name" jdbcType="VARCHAR" property="aName" />
    <result column="a_pass" jdbcType="VARCHAR" property="aPass" />
    <result column="a_phone" jdbcType="VARCHAR" property="aPhone" />
    <result column="a_email" jdbcType="VARCHAR" property="aEmail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, a_name, a_pass, a_phone, a_email
  </sql>
  <select id="selectByExample" parameterType="com.hebeu.group.pojo.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hebeu.group.pojo.AdminExample">
    delete from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hebeu.group.pojo.Admin">
    insert into admin (a_id, a_name, a_pass, 
      a_phone, a_email)
    values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aPass,jdbcType=VARCHAR}, 
      #{aPhone,jdbcType=VARCHAR}, #{aEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hebeu.group.pojo.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="aName != null">
        a_name,
      </if>
      <if test="aPass != null">
        a_pass,
      </if>
      <if test="aPhone != null">
        a_phone,
      </if>
      <if test="aEmail != null">
        a_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aName != null">
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPass != null">
        #{aPass,jdbcType=VARCHAR},
      </if>
      <if test="aPhone != null">
        #{aPhone,jdbcType=VARCHAR},
      </if>
      <if test="aEmail != null">
        #{aEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hebeu.group.pojo.AdminExample" resultType="java.lang.Long">
    select count(*) from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update admin
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aName != null">
        a_name = #{record.aName,jdbcType=VARCHAR},
      </if>
      <if test="record.aPass != null">
        a_pass = #{record.aPass,jdbcType=VARCHAR},
      </if>
      <if test="record.aPhone != null">
        a_phone = #{record.aPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.aEmail != null">
        a_email = #{record.aEmail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update admin
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_name = #{record.aName,jdbcType=VARCHAR},
      a_pass = #{record.aPass,jdbcType=VARCHAR},
      a_phone = #{record.aPhone,jdbcType=VARCHAR},
      a_email = #{record.aEmail,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>